@import "../../../shared/style/base";
#search-marker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .marker-label{
        text-align: center;
    }
    i{
        margin: .25em 0 0 0;
        font-size: 3em;
        color: adjust-color($color: $font-color-blue, $alpha: 0.9);
        line-height: 1em;
        text-shadow: 2px 2px #FFFFFF, -2px -2px #FFFFFF, -2px 2px #FFFFFF, 2px -2px #FFFFFE,
    }
}