.vehicle-marker{
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 12px;
    height: 12px;
    line-height: 25px;
    padding: 0;
    background: radial-gradient(circle at 3px 3px, #5cabff, #000);
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
    overflow: visible;
}
.vehicle-marker-title{
    position: absolute !important;
    white-space: nowrap;
    top: -3rem;
    left: -3rem;
}