//base colors
$bg-color-light: rgb(252, 252, 252);
$bg-color-blue: #003478;
$bg-color-dark: #333333;
$font-color-light: #FFFFFF;
$font-color-blue: #003478;
$font-color-dark: #333333;


//layout
$top-panel-height: 60px;
$side-panel-width: 480px;

$top-panel-z-index: 334;
$side-panel-z-index: 333;
