//base colors
$bg-color-light: #fcfcfc;
$bg-color-blue: #003478;
$bg-color-blue-lighter: #1a7dfd;
$bg-color-blue-darker: #00214c;
$bg-color-dark: #333333;
$font-color-light: #FFFFFF;
$font-color-blue: #003478;
$font-color-dark: #333333;


//layout
$top-panel-height: 60px;
$side-panel-width: 520px;

$top-panel-z-index: 334;
$side-panel-z-index: 333;
