.ui.form input {
    &:read-only {
        cursor: default;
        background: repeating-linear-gradient(-55deg, #EEE, #EEE 10px, #DDD 10px, #DDD 20px) !important;
        &:focus{
            border-color: initial ;
        }
    }

}