@import "../../../shared/style/base";
#account-menu{
    height: 100%;
    .ui.dropdown {
        min-width: 15rem;
        justify-content: space-around;
        .menu{
            opacity: 1;
        }
    }
    
}