@import "../../../shared/style/base";

#top-panel{
    position: fixed;
    width: 100%;    
    height: $top-panel-height;
    top: 0;
    left: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    z-index: $top-panel-z-index;

    background: rgba($bg-color-blue, 0.9);
    & > .logo{
        padding: 0 1em;
        & > img{
            height: 48px;
            image-rendering: -moz-crisp-edges;
            image-rendering: -o-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            -ms-interpolation-mode: nearest-neighbor;
            -webkit-filter: blur(0.5px);
            -moz-filter: blur(0.5px);
            -o-filter: blur(0.5px);
            -ms-filter: blur(0.5px);
            filter: blur(0.5px);
        }
    }
    & > .title
    {
        padding: 0 1em;
        & > h1{
            margin: 0;
            white-space: nowrap;
            color: $font-color-light;
            text-shadow: 2px 2px 9px rgba(150, 150, 150, 0.5);
            font-family: "Ford Antenna Medium";
            font-weight: normal;
        }
    }
    #account-name-display{
        font-family: "Ford Antenna Medium";
        font-weight: normal;
    }
}