i.fms-speed.icons{
    width: auto !important;
    span{
        color: rgba(0, 0, 0, 0.9);
        font-size: 0.6em;
        font-weight: bold;
        text-align: center;
        -webkit-transform: translateX(-57%) translateY(-50%);
        -ms-transform: translateX(-57%) translateY(-50%);
        transform: translateX(-57%) translateY(-50%);
    }
    
}