@import "../../shared/style/base";
@import "../../shared/style/pulse";
@import "../../shared/style/flexbox.mixin";
#map-display{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    & > *{
        height: 100%;
    }


    .leaflet-marker-icon.selected {
        -webkit-filter: drop-shadow(1px 1px 0 rgba(110, 204, 57, 0.6))
        drop-shadow(-1px -1px 0 rgba(110, 204, 57, 0.6));
        filter: 
        drop-shadow(3px 3px 0 rgba(110, 204, 57, 0.6)) 
        drop-shadow(-3px -3px 0 rgba(110, 204, 57, 0.6))
        drop-shadow(3px -3px 0 rgba(110, 204, 57, 0.6)) 
        drop-shadow(-3px 3px 0 rgba(110, 204, 57, 0.6))
        ;
    }
    .ui.menu {
        min-height: 2em;
        .item {
            padding: 0.5em 0.8em;
        }
    }
    .leaflet-div-icon {
        background: none;
        border: none;
    }
}

.leaflet-control-container > .leaflet-top{
    top: 80px;
}

.leaflet-fade-anim .leaflet-popup{
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
}

.leaflet-ant-path{
    animation-duration: 30s !important;
}

.sr-only {
    display: none;
  }